<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>確認画面</title>
</head>
<body>
  <h1>以下の内容で報告します。よろしければ送信ボタンを押してください。

  <form action="/submit" method="post">
    {% for k, v in data.items() %}
      <p><strong>{{ k }}:</strong>
      {% if k == 'file_name' %}
        {{ v }}
      {% elif k == 'file_url' %}
        <!-- 表示しない -->
      {% else %}
        {{ v }}
      {% endif %}
      </p>
    {% endfor %}
    <input type="submit" value="送信する">
  </form>

  <form action="/" method="get">
    <input type="submit" value="修正する">
  </form></h1>
</body>
</html>
